asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
Django==3.1.7
django-appconf==1.0.4
django-bootstrap4==3.0.1
django-comments-dab==2.6.1
-e git+https://github.com/Vaguilardiaz/osintTFM.git@df747c2c1c34810bc70cdaeade4098a7c9772bd4#egg=django_comments_xtd
django-contrib-comments==2.1.0
django-crispy-forms==1.11.2
django-markdown2==0.3.1
django-rosetta==0.9.6
djangorestframework==3.12.4
docutils==0.17.1
idna==2.10
markdown2==2.4.0
npm==0.1.1
numpy==1.20.1
optional-django==0.3.0
pandas==1.2.3
Pillow==8.1.0
pinax-comments==2.0.0
polib==1.1.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.6
webpack==6.0.0
