<!DOCTYPE html>
<html class="no-js lt-ie9" lang="es" >
<html class="no-js" lang="es" >

<!--{% extends "base_generic.html" %}-->

{% load static %}
{% block content %}


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script type="text/javascript" src="{% static 'css/_static/js/modernizr.min.js' %}"></script>
  <script src="{% static 'css/_static/jquery.js' %}"></script>
  <script src="{% static 'css/_static/underscore.js' %}"></script>
  <script type="text/javascript" src="{% static 'css/_static/js/theme.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/newStyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/_static/css/theme.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/_static/css/style.css' %}" type="text/css" />

</head>


<body class="wy-body-for-nav" style="background: url({% static 'css/leaves.png' %})">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side" style="width:220px">

              <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation" style="font-size:20px">
              {% block sidebar %}
              <ul class="sidebar-nav" style="width:220px">
                  <li><a class="icon icon-home" href="{% url 'index' %}">Home</a></li>
                  {% if user.is_authenticated %}
                  <li><a>User: {{ user.get_username }}</a></li>
                    <li><a href="{% url 'my-borrowed' %}">Mis Entidades</a></li>
                    <li><a href="{% url 'my-registered' %}">Mis Individuos</a></li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                  {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Regístrate</a></li>
                  {% endif %}
              </ul>
             {% endblock %}
              </div>
        </nav>



<!--<section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

    <div class="wy-nav-content">

        <div class="rst-content">

            <div class="section" id="idx">-->

<div class="wy-nav-content">

    <div class="wy-nav-content" align="CENTER">
    <img class="specialimg" src="{% static 'images/CyberPeek.png' %}" align="CENTER"  />
    </div>



<!--    <h1 style="src: url(static/css/airmill.ttf); src: url(static/css/air_mitalic.ttf);">CyberPeek</h1>-->




<!--  <p>Welcome to <em>CyberPeek Tool</em>, a basic Django website developed as an analysis Tool for intelillence analysis</p>-->

   <p style="font-size: 20px;">
    CyberPeek es una herramienta de análisis de ciberinteligencia desarrollada para permitir la gestión de información y evidencias recogidas en un análisis de fuentes OSINT, sobre los diferentes elementos implicados (individuos, sociedades, relaciones, etc.), así como la representación automática de esta información mediante modelos visuales.

   </p>

    <p style="font-size: 20px;">

        El objetivo de esta herramienta sería entonces facilitar el análisis de la información recogida mostrando, en todo momento, las relaciones existentes entre los elementos identificados.

    Esta herramienta permite el trabajo conjunto de analistas de ciberinteligencia, de forma que puedan compartir estudios específicos de aquellas entidades/individuos que consideren oportunos, añadiendo comentarios entre ellos en la misma investigación.

    </p>

<!--<h2>Dynamic content</h2>

  <p>The Tool has the following record counts:</p>
  <ul>
    <li><strong>Entidades Registradas:</strong> {{ num_entities }}</li>
&lt;!&ndash;    <li><strong>Administrators:</strong> {{ num_administrators }}</li>&ndash;&gt;
    <li><strong>Entidades Activas:</strong> {{ num_entities_active }}</li>
    <li><strong>Entidades Relacionadas:</strong> {{ num_secondary_business }}</li>
    <li><strong>Individuos:</strong> {{ num_individuals }}</li>
  </ul>-->

{% endblock %}
            </div>

</body>
</html>
