<!DOCTYPE html>
<html class="no-js lt-ie9" lang="es" >
<html class="no-js" lang="es" >


<!--{% extends "base_generic.html" %}-->
{% load static %}
{% block content %}




<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script type="text/javascript" src="{% static 'css/_static/js/modernizr.min.js' %}"></script>
  <script src="{% static 'css/_static/jquery.js' %}"></script>
  <script src="{% static 'css/_static/underscore.js' %}"></script>
  <script type="text/javascript" src="{% static 'css/_static/js/theme.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/newStyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/_static/css/theme.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/_static/css/style.css' %}" type="text/css" />

</head>

<body class="wy-body-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">

              <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
              {% block sidebar %}
              <ul class="sidebar-nav">
                  <li><a class="icon icon-home" href="{% url 'index' %}">Home</a></li>
                  {% if user.is_authenticated %}
                  <li><a>User: {{ user.get_username }}</a></li>
                    <li><a href="{% url 'my-borrowed' %}">Mis Entidades</a></li>
                    <li><a href="{% url 'my-registered' %}">Mis Individuos</a></li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                  {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                  {% endif %}
              </ul>
             {% endblock %}
              </div>
        </nav>



<p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
{% endblock %}

</body>
</html>
