<!DOCTYPE html>
<html class="no-js lt-ie9" lang="es" >
<html class="no-js" lang="es" >


<!--{% extends "base_generic.html" %}-->
{% load static %}
{% block content %}




<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script type="text/javascript" src="{% static 'css/_static/js/modernizr.min.js' %}"></script>
  <script src="{% static 'css/_static/jquery.js' %}"></script>
  <script src="{% static 'css/_static/underscore.js' %}"></script>
  <script type="text/javascript" src="{% static 'css/_static/js/theme.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/newStyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/_static/css/theme.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/_static/css/style.css' %}" type="text/css" />

</head>

<body class="wy-body-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side" style="width:220px">

              <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation" style="font-size:20px">
              {% block sidebar %}
              <ul class="sidebar-nav" style="width:220px">
                <div align="CENTER">
                <img class="specialimg" src="{% static 'images/CyberPeek180.ico' %}" align="CENTER" style="width:150px; height:150px;" />
                </div>
                <p style="line-height: 300%"></p>
                  <li><a class="icon icon-home" href="{% url 'index' %}">Home</a></li>
                  {% if user.is_authenticated %}
                  <li><a>User: {{ user.get_username }}</a></li>
                    <li><a href="{% url 'my-borrowed' %}">Mis Entidades</a></li>
                    <li><a href="{% url 'my-registered' %}">Mis Individuos</a></li>
                    <li><a href="{% url 'logout'%}">Logout</a></li>
                  {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                  {% endif %}
              </ul>
             {% endblock %}
              </div>
        </nav>

        <div class="wy-nav-content">


  <h1>{{ administrator.name }}</h1>

  <a href={{administrator.id}}/update>
    <input type="submit" value="Editar" class="btn btn-primary"/>
  </a>

  <a href={{administrator.id}}/delete>
    <input type="submit" value="Eliminar Persona Vinculada" class="btn btn-primary"/>
  </a>

  <p style="line-height: 300%"></p>

  <p><strong>Nombre: </strong> {{ administrator.name }}</p>
  <p><strong>Cargo: </strong> {{ administrator.charge }}</p>
  <p><strong>Desde: </strong> {{ administrator.start_date }}</p>
  <p><strong>Hasta: </strong>{{ administrator.untill }}</p>
<!--  <p><strong>Otras empresas de su propiedad: </strong>{% for business in administrator.other_entities.all %} {{ business }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>-->


<p></p>
<p></p>
<!--<p><strong>Otras empresas de su propiedad: </strong>-->
<!--<!DOCTYPE html>-->
<!--<html>-->
  <head>
<!--    <meta charset="utf-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Entidades</title>

  </head>
<!--  <body>-->
    <table class="alltable" align="left" style="width:auto">
      <caption class="specialcaption"><strong>Otras Entidades de su propiedad:</strong></caption>
      <thead>
        <tr>
          <th class="th" scope="col">Nombre </th>
          <th class="th" scope="col">Cargo</th>
          <th class="th" scope="col">Desde</th>
          <th class="th" scope="col">Editar/Eliminar</th>
        </tr>
      </thead>

      {% for business in administrator.other_entities.all %}
          <tr>
            <td class="td" scope="row"> <a href="{% url 'business-detail' business.pk %}">{{ business.denomination }}</a></td>

            <td class="td" scope="row"> {{ business.charge }}</td>

            <td class="td" scope="row"> {{ business.from_date }}</td>

            <td class="td" scope="row"> <h5><a href=http://127.0.0.1:8000/catalog/business/{{business.id}}/update><input type="submit" value="Editar" class="btn btn-primary"/></a></h5> <h5>/</h5> <h5><a href=http://127.0.0.1:8000/catalog/business/{{business.id}}/delete><input type="submit" value="Eliminar" class="btn btn-danger"/></a></h5> </td>
          </tr>
      {% if not forloop.last %}
      {% endif %}
      {% endfor %}

<!--      <h5>Registar Nueva Entidad Vinculada: <a href="{% url 'business-create' %}"><input type="submit" value="Añadir" /> </a> </h5>-->

      <tbody id="entity">
      </tbody>
    </table>
<!--  </body>-->
<!--</html>-->
      {% endblock %}





</div>

</body>
</html>
