<!DOCTYPE html>
<html class="no-js lt-ie9" lang="es" >
<html class="no-js" lang="es" >

<!--{% extends "base_generic.html" %}-->

{% load static %}
{% block content %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script type="text/javascript" src="{% static 'css/_static/js/modernizr.min.js' %}"></script>
  <script src="{% static 'css/_static/jquery.js' %}"></script>
  <script src="{% static 'css/_static/underscore.js' %}"></script>
  <script type="text/javascript" src="{% static 'css/_static/js/theme.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/newStyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/_static/css/theme.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/_static/css/style.css' %}" type="text/css" />

</head>


<body class="wy-body-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side" style="width:220px">

              <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation" style="font-size:20px">
              {% block sidebar %}
              <ul class="sidebar-nav" style="width:220px">
                <div align="CENTER">
                <img class="specialimg" src="{% static 'images/CyberPeek180.ico' %}" align="CENTER" style="width:150px; height:150px;" />
                </div>
                <p style="line-height: 300%"></p>
                  <li><a class="icon icon-home" href="{% url 'index' %}">Home</a></li>
                  {% if user.is_authenticated %}
                  <li><a>User: {{ user.get_username }}</a></li>
                    <li><a href="{% url 'my-borrowed' %}">Mis Entidades</a></li>
                    <li><a href="{% url 'my-registered' %}">Mis Individuos</a></li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                  {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                  {% endif %}
              </ul>
             {% endblock %}
              </div>
        </nav>

<div class="wy-nav-content">

    <h1>Entidades registradas</h1>

    {% if entity_list %}
    <ul>

      {% for ent in entity_list %}
      <li class="{% if ent.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'entity-detail' ent.pk %}">{{ent.denomination}}</a> ({{ ent.nif }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No tienes entidades registradas.</p>
    {% endif %}

<p style="line-height: 300%"></p>

<h5>Registar Nueva Entidad: <a href="{% url 'entity_create' %}"><input type="submit" value="Añadir" class="btn btn-primary" /></a> </h5>

{% endblock %}

</div>

</body>
</html>
